.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .container{
    margin-top: 50px;
    margin-left: 500px;
  }
  
  .error{
    margin-top: 3px;
    font-size: 1em;
    margin-bottom: 3px;
  }
  
  mat-card.issueBookForm {
    width: 500px;
    background-color: lightgray;
  }
  
  h3{
    font-weight: bold; 
    margin-left: 200px;
    font-size: 18px;
    color: brown;
  }
  
  mat-card.response{
    width: 500px;
    background-color: lemonchiffon;
  }