.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container{
  padding-right: 10px;
  padding-left: 10px;
}

.error{
  margin-top: 3px;
  font-size: 1em;
  margin-bottom: 3px;
}

mat-card.userForm {
  width: 100%;
  background-color: lightgray;
}

h3{
  font-weight: bold; 
  margin-left: 180px;
  font-size: 18px;
  color: brown;
}

mat-card.response{
  width: 500px;
  background-color: lemonchiffon;
}