
  <div  *ngFor="let task of tasks; let i = index" >
    <div class = "list-group-item" *ngIf="task.isCompleted">
      <div style="display: flex;" >
        <div class="container">
          <h4 class="list-group-item-text">{{task.taskName}}</h4>
        </div>
        <div style="margin-left: 900px; display: flex;">
          <div style="margin-left: 10px">
            <button class = "btn btn-danger" (click)="onDelete(i)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

