<div class = "container">
    <h3>Book Catlog Form</h3>
    <mat-card class = "bookCatlogForm">
      <mat-card-content>
        <form class = "example-form" (ngSubmit)="onsubmit()" #f = "ngForm">
          <mat-form-field class = "example-full-width">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Book Title" name="title" type="text" ngModel required #title = "ngModel">
            <mat-error class = "error" *ngIf="!title.valid && title.touched">Requires Title of Book!</mat-error>
          </mat-form-field>
  
          <mat-form-field class = "example-full-width">
            <mat-label>Author</mat-label>
            <input type="text" matInput placeholder="Author" name="author" ngModel required #author = "ngModel">
            <mat-error class = "error" *ngIf="!author.valid && author.touched">Requires Author of Book!</mat-error>
          </mat-form-field>
  
          <mat-form-field class = "example-full-width">
            <mat-label>Publication Year</mat-label>
            <input type="text"  name="year" matInput placeholder="Publication Year" ngModel required pattern="\d{4}" #year = "ngModel">
            <mat-error class = "error" *ngIf="!year.valid && year.touched">Enter a valid four digit Year!</mat-error>
          </mat-form-field>

          <mat-form-field class = "example-full-width">
            <mat-label>ISBN</mat-label>
            <input type="text"  name="isbn" matInput
                   placeholder="ISBN" ngModel required pattern="\d{3}-\d{1,5}-\d{1,7}-\d{1,7}-\d{1,7}" #isbn = "ngModel">
            <mat-error style="padding-bottom: 5px;" class = "error" *ngIf="!isbn.valid && isbn.touched">Enter a valid 13 digit ISBN Number!</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Genre</mat-label>
            <mat-select name="genre" required [(ngModel)] = "selectedGenre" #selectedGenreModel="ngModel">
              <mat-option value="ficton">Fiction</mat-option>
              <mat-option value="novel">Novel</mat-option>
            </mat-select>
            <mat-error style="padding-bottom: 5px;" class = "error" *ngIf="!selectedGenreModel.valid &&selectedGenreModel.touched">Enter a valid 13 digit ISBN Number!</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput name="description" type="text" required [(ngModel)] = "bookDescription" #description = "ngModel"></textarea>
            <mat-error style="padding-bottom: 5px;" class = "error" *ngIf="!description.valid && description.touched">Requires a book Description!</mat-error>
          </mat-form-field>
  
          <div style=" margin-top: 9px; padding-top: 12px;">
            <button type="submit" [disabled]="!f.valid" mat-raised-button color="primary">Create Book</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div style="margin-top: 10px;" *ngIf="isSubmitted">
      <mat-card class="response">
        <mat-card-content *ngIf="!isSubmittedError">
          <h2 style="margin-right: 100px; color: green; margin-left: 100px;">Book Created successfully!</h2>
          <p>Id : {{userResponse.id}}</p>
        </mat-card-content>
        <mat-card-content *ngIf="isSubmittedError">
          <h2 style="margin-right: 100px; margin-left: 100px;">Something went wrong...!</h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  
  