<div class = "dash-board">
    <mat-toolbar>
      <div class = "navigation">
        <div>
            <button mat-button [routerLink]="['books']" routerLinkActive="activeButton">Books</button>
        </div>
        <div style="margin-left: 70px;">
            <button mat-button [routerLink]="['create-book']" routerLinkActive="activeButton">Add Book</button>
        </div>
        <div style="margin-left: 70px;" routerLinkActive="activeButton">
            <button mat-button [routerLink]="['add-user', 'public']" routerLinkActive="activeButton">Add user</button>
        </div>
        <div style="margin-left: 70px;" routerLinkActive="activeButton">
            <button mat-button [routerLink]="['users']" [queryParams]="{userType : 'public'}" routerLinkActive="activeButton">Users</button>
        </div>

        <div style="margin-left: 70px;">
            <button mat-button [routerLink]="['issue-book']" routerLinkActive="activeButton">Issue Book</button>
        </div>

        <div style="margin-left: 70px;">
            <button mat-button [routerLink]="['return-book']" routerLinkActive="activeButton">Return Book</button>
        </div>

        <div style="margin-left: 70px;">
            <button mat-button [routerLink]="['issued-books']" routerLinkActive="activeButton">Issued Books</button>
        </div>
    </div>
    </mat-toolbar>
</div>

<router-outlet></router-outlet>
